@media   (max-width: 1500px) {
.image1{
  top: 162px;
  
  
}

.image2{
  right: -32px;
}

.dot{
  margin-left: 573px;


}














.card-title{
  font-size: 25px;
}



}









@media  (max-width:1300px){
    .menu-items{
        display: block;
    }

    .menu-item{
        margin: 20px auto; 

        width: 600px;
    }

    
    .header-title{
        position: static;
    }

    .header-subtitle:before,
      .header-subtitle:after {
        content: none;
      }


      .cook-content{
        display: block;
      }

      .cook-content img{
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
      }

     
      
      .block-holder{
        display: block;
       
    
      }
       

      .left-title,
      .right-button,
      .left-text{
        
        text-align: center;
        margin-top: 30px;
      }


      .history-images{
        display: none;
      }

      .history-title,
      .history-desc,
      .history-number{
        width: auto;
      }


  
      
      .galery-content{
        display: block;
    }


.gal,
.galery-up,
.galery-down {
    display: block;
    margin-left: auto;
  margin-right: auto;

}

.gal{
  margin-bottom: 20px;

}

.galery-left{
  margin-right: 0;
}

.burger-text{
  text-align: center;
}

.dot{
  margin: inherit;
  margin-left: 223px;
  margin-top: 20px
}
       
    }



    @media  (max-width: 1185px) {

      .menu-burg {
        display: block;
      }
      
     .nav,
     .cart,
     .phone,
     .btn{
      display: none;
     }

     






    }


    @media  (max-width: 1000px){
      .cards-holder{
        display: block;
      }

      .card{
        width: 100%;
        margin-top: 30px;
        padding-bottom: 20px;
      }
    } 



    @media(max-width: 780px){
      .history-holder{
        display: block;
      }

      

      .menu-item{
        width: auto;
      }

      .hight{
        display: none;
      }

      .container{
        margin: auto 40px;
      }

      .number-item{
        font-size: 23px;
      }
    }



    @media (max-width: 684px){
      .dot{
        margin-left: 290px;
      }
    }



@media(max-width: 2001px){
  .image2{
    right: 336px;
  }
  .image1{
    top: 7px;
  }

  .dot{
    margin-left: 820px;
  }
}     


@media (max-width: 1463px) {
  .image2{
    right: -47px;
    
  }
  .image1{
    top: 158px;
  }
  .dot{
    margin-left: 548px;
  }
}



@media(max-width: 2002px){
  .image1{
    left: 42px;
    top: 6px;
  }

  .image2{
    right: 322px;
  }
  .dot{
    margin-left: 823px;
  }
}
  

@media(max-width: 1590px){

  .image1{
    top: 157px;
  }
  .image2{
    right: -17px;

  }


  .dot{
    margin-left: 583px;
  }
}


@media(max-width: 1470px){
  .dot{
    margin-left: 554px;
  }
}


@media(max-width: 1394px){
     .dot{
      margin-left: 520px;
     }
}




@media(max-width: 1400px){
   .dot{
    margin-left: 488px
   }
}


@media(max-width: 720px){
  .dot{
    margin-left: 301px;
  }
} 


@media(max-width: 1141px){
  .card-title{
    font-size: 22px;
    
  }

  .dot{
    margin-left: 390px;
  }
} 


@media(max-width: 1184px){
  .card-title{
    font-size: 24px;

  }
  .dot{
    margin-left: 409px;
  }
}

@media(max-width: 1024px){

  .card-title{
    font-size: 18px;
  }

  .dot{
    margin-left: 339px;
  }

}


@media(max-width: 1472px){
  .dot{
    margin-left: 548px;
  }

}

@media(max-width: 1334px){
  .button{
    margin-right: 24px;
  }

  .dot{
    margin-left: 482px;
  }
}

@media(max-width: 1156px){
  .dot{
    margin-left: 386px;
  }

  .card-title{
    font-size: 22px;
  }
}

@media(max-width: 1160px){
  .dot{
    margin-left: 396px;

  }

  .card-title{
    font-size: 22px;
  }

  .burger-text{
    font-size: 23px;
  }

  .img-rec{
    display: none;
  }

  .img-rec2{
    display: none;
  }
}


@media(max-width: 1130px){
  .card-title{
    font-size: 21px;
  }
  .dot{
    margin-left: 369px;
  }
}

@media(max-width: 350px){
  .header{
    width: 100vh;;
  }
}


@media(max-width: 400px){
  .header{
    width: 100vh;
  }
}



@media(max-width: 665px){
  .header{
    width: 100vh;
  }
}


@media(max-width: 700px){
  .header{
    width: 100vh;
  }
}

